body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

hr {
  margin: 0;
  color: $onyx;
}

.content-container {
  margin: 0 15px;
}

//NAVBAR STRIPE



// BANNER STRIPE

.banner-stripe {
  width: 100%;
  background-image: url("https://res.cloudinary.com/dlm5qwdjs/image/upload/v1617728193/DonateIT/mobile-home-banner-shrunk_ntbqja.png");
  // height: 38em;
}

banner-content {
  align-items: center;
  justify-content: center;
  padding: auto 0;

}

.banner-blurb {
  height: 38em;
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-gap: .5em;

  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;

  h1 {
    width: 7em;
    font-size: 36px;

  }

  h3 {
    width: 13em;
    font-size: 24px;
  }
}

.donate-button-variable {
  color: white;
  background-color: $persimmon;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  padding: 22px 43px;
}

.donate-button-variable:hover {
  background: white;
  color: black;
}

// call-to-action STRIPE

.call-to-action-stripe {
  background: white;
  height: 9em;
  .container {
    justify-content: center;
    align-items: center;
    padding: auto 0;
  }
}

// xxxx STRIPE

.who-you-are-helping-stripe {
  background: white;
}

