body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

hr {
  margin: 0;
  color: $onyx;
}

.content-container {
  margin: 0 15px;
}

//NAVBAR STRIPE



// BANNER STRIPE

.banner-stripe {
  width: 100%;
  background-image: url("https://res.cloudinary.com/dlm5qwdjs/image/upload/v1617728193/DonateIT/mobile-home-banner-shrunk_ntbqja.png");
  // height: 38em;
}

banner-content {
  align-items: center;
  justify-content: center;
  padding: auto 0;

}

.banner-blurb {
  height: 38em;
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-gap: .5em;

  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;

  h1 {
    width: 7em;
    font-size: 36px;

  }

  h3 {
    width: 13em;
    font-size: 24px;
  }
}

.donate-button-variable {
  color: white;
  background-color: $persimmon;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  padding: 22px 43px;
}

.donate-button-variable:hover {
  background: white;
  color: black;
}

// call-to-action STRIPE

.call-to-action-stripe {
  background: white;
  height: 9em;
  .container {
    justify-content: center;
    align-items: center;
    padding: auto 0;
  }
}

// who-you-are-helping STRIPE

.who-you-are-helping-stripe {
  background: white;
}

.slideshow-container {
  max-width: 100%;
  // margin: 0 18px;
  position: relative;
}

.my-slides {
  display: none;
  width: 100%;
}

.slide-image {
  width: 100%;
}

.slide-dots {
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slide-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 1em 0;
  position: absolute;
  bottom: .25em;
  width: 100%;
  text-align: center;
  background-color: rgba( $persimmon, .5 );
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

// FOOTER

.bottom-donate-button {
  display: flex;
  height: 10em;
  justify-content: center;
  align-items: center;
}

