<main class="grid">
  
  <div class="banner-stripe">
    <div class="container">
      <div class="banner-content">
        <div class="banner-blurb">
          <h1>300,000 children live in digital poverty in the UK</h1>
          <h3>Your unwanted technology could save their education</h3>
          <div class="donate-button-variable">
            <p>Donate Now</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row banner-second-row">
    <div class="container">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore deleniti, saepe qui consequuntur, nihil ex tempore accusamus eligendi ipsam ad, quam ratione cupiditate quibusdam possimus facere officia sunt quos molestiae?</p>
    </div>
  </div>
  <div class="row who-you-are-helping">
    <div class="container">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas modi earum facere et aspernatur nemo, unde quia, culpa natus eos, eum quasi architecto fuga quod obcaecati dolores a repellendus! Provident!</p>
    </div>
  </div>
</main>

