<main class="grid">
  
  <div class="banner-stripe">
    <div class="content-container">
      <div class="banner-content">
        <div class="banner-blurb">
          <h1>300,000 children live in digital poverty in the UK</h1>
          <h3>Your unwanted technology could save their education</h3>
          <%= link_to "Donate Now", "#", class: "donate-button-variable" %>
        </div>
      </div>
    </div>
  </div>

  <div class="call-to-action-stripe">
    <div class="content-container">
      <h2>Donate IT</h2>
      <p>Help us to allow children the education they need to get a fair start.</p>
    </div>
  </div>

  <hr>

  <div class="who-helping-stripe">
    <div class="content-container">
      <h2>Who you are helping</h2>
      <div class="cards-container">
        <div class="info-card" id="first-card">
          <img src="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1617963803/DonateIT/mobile-child-red-hoodie-laptop_ddumrk.png" alt="Child with laptop" class="slide-image">
          <div class="card-text">Timmy using his donated laptop</div>
        </div>

        <div class="info-card">
          <img src="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1618045687/DonateIT/mobile-ccross-legged-laptop_m94ygk.png" alt="Child with laptop" class="slide-image">
          <div class="card-text">Sarah can join in her class work</div>
        </div>

        <div class="info-card">
          <img src="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1618045687/DonateIT/mobile-zoom-call-laptop_szlnfa.png" alt="Child with laptop" class="slide-image">
          <div class="card-text">Lisa is doing a group project</div>
        </div>
      </div>
      <h3>Learn more...</h3>
    </div>
  </div>

  <hr>

  <div class="who-you-are-helping-stripe">
    <div class="content-container">
      <h2>Who you're helping</h2>
      <div class="slideshow-container">

        <div class="my-slides fade">
          <div class="numbertext">1 / 5</div>
          <img src="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1617963803/DonateIT/mobile-child-red-hoodie-laptop_ddumrk.png" alt="Child with laptop" class="slide-image">
          <div class="slide-text">Timmy using his donated laptop</div>
        </div>

        <div class="my-slides fade">
          <div class="numbertext">2 / 5</div>
          <img src="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1618045687/DonateIT/mobile-ccross-legged-laptop_m94ygk.png" alt="Child with laptop" class="slide-image">
          <div class="slide-text">Sarah can join in her class work</div>
        </div>

        <div class="my-slides fade">
          <div class="numbertext">3 / 5</div>
          <img src="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1618045687/DonateIT/mobile-zoom-call-laptop_szlnfa.png" alt="Child with laptop" class="slide-image">
          <div class="slide-text">Lisa is doing a group project</div>
        </div>

        <div class="my-slides fade">
          <div class="numbertext">4 / 5</div>
          <img src="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1618045688/DonateIT/mobile-elbow-lean-laptop_buxbol.png" alt="Child with laptop" class="slide-image">
          <div class="slide-text">This child is calling his father in prison</div>
        </div>

        <div class="my-slides fade">
          <div class="numbertext">5 / 5</div>
          <img src="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1618045687/DonateIT/mobile-curly-hair-laptop_vhfl7y.png" alt="Child with laptop" class="slide-image">
          <div class="slide-text">Dani is doing her homework</div>
        </div>

        <a class="prev" >&#10094;</a>
        <a class="next" >&#10095;</a>

      </div>
      <br>
      <%# <div class="slide-dots">
        <span class="dot" id="dot-1"></span>
        <span class="dot" id="dot-2"></span>
        <span class="dot" id="dot-3"></span>
      </div> %>
    </div>
  </div>

  <hr>

  <div class="bottom-donate-button">
    <div class="content-container">
      <%= link_to "Donate Now", "#", class: "donate-button-variable" %>
    </div>
  </div>

</main>

