<div class="banner-top-row" style="background: url('http://loremflickr.com/1200/800/child,laptop);">
  <div class="container">
    <div class="col-sm-12">
      <div class="banner-top">
      </div>
    </div>
  </div>
</div>
<div class="banner-orange-square">  
  <div class="orange-square">
    <p class="grabline">300,000 children live in digital poverty in the UK</p>
    <p class="grabline-secondary">Your unwanted technology could save their education</p>
    <div class="donate-button">
      <p>Donate Now</p>
    </div>
  </div>
</div>
<div class="row banner-second-row">
  <div class="container">
    <div class="col-sm-12 col-md-6">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta molestiae ab a, aliquid ipsam nam vel veniam ea consectetur corporis dignissimos? Vero quo maxime voluptas id porro praesentium, quibusdam quis!</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta molestiae ab a, aliquid ipsam nam vel veniam ea consectetur corporis dignissimos? Vero quo maxime voluptas id porro praesentium, quibusdam quis!</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta molestiae ab a, aliquid ipsam nam vel veniam ea consectetur corporis dignissimos? Vero quo maxime voluptas id porro praesentium, quibusdam quis!</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta molestiae ab a, aliquid ipsam nam vel veniam ea consectetur corporis dignissimos? Vero quo maxime voluptas id porro praesentium, quibusdam quis!</p>
    </div>
  </div>
</div>

