<main class="grid">
  
  <div class="banner-stripe">
    <div class="content-container">
      <div class="banner-content">
        <div class="banner-blurb">
          <h1>300,000 children live in digital poverty in the UK</h1>
          <h3>Your unwanted technology could save their education</h3>
          <%= link_to "Donate Now", "#", class: "donate-button-variable" %>
        </div>
      </div>
    </div>
  </div>

  <div class="call-to-action-stripe">
    <div class="content-container">
      <h2>Donate IT</h2>
      <p>Help us to allow children the education they need to get a fair start.</p>
    </div>
  </div>

  <hr>

  <div class="who-you-are-helping-stripe">
    <div class="content-container">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas modi earum facere et aspernatur nemo, unde quia, culpa natus eos, eum quasi architecto fuga quod obcaecati dolores a repellendus! Provident!</p>
    </div>
  </div>

  <hr>

</main>

