.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 1.2em;
}

.logo-link-container {
  display: flex;
  // justify-content: center;
  align-items: center;
}

.navbar-title-link {
  margin: 0;
  // padding: 0 .6em;
  a {
    text-decoration: none;
  }
}

.navbar-logo {
  padding: .5em;
  height: 2em;
}